@font-face {
    font-family: "NotoSansRegular"; 
    src: url("fonts/NotoSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "NotoSansBold"; 
    src: url("fonts/NotoSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
